body {
   font-family: 'Gentium Basic', serif;
}

h2 {
    color: black;
}

h3 {
    color: grey;
}

p {
    color: grey;
}


div {
    outline: 0px solid black;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.header1 {
    background-color: white;
    height: 80px;
    width: 1200px;
    float: left;
}

.leftmenu {
    background-color: white;
    height: 50px;
    width: 484px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.links {
    margin-top: 10px;
    font-size: 1rem;
    float: left;
    color: black;
}

.links a{
    text-decoration: none;
    color: black; 
}

.links a:hover{
    color: pink;
}
.links a:active{
    color: red;
}

.links1 {
    margin-top: 10px;
    margin-right: 0px;
    font-size: 1rem;
    float: right;
    color: black;
}

.links1 a{
    text-decoration: none;
    color: black; 
}

.links1 a:hover{
    color: pink;
}
.links1 a:active{
    color: red;
}

.links1 a:visited{
    color: grey;
}

.chaos {
    background-color: white;
    height: 0px;
    width: 155px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 4rem;
}

.rightmenu {
    background-color: white;
    height: 50px;
    width: 200px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.catchphrase {
    background-color: white;
    width: 1160px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center
}

.shopdesign {
    background-color: white;
    height: 600px;
    width: 1160px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.header2 {
    background-color: white;
    height: 90px;
    width: 1200px;
    float: left;   
}

.content1line {
    background-color: black;
    width: 1180px;
    width: 2px;
}
    
.content1 {
    background-color: white;
    height: 1050px;
    width: 1200px;
    float: left;
}

.header3 {
    background-color: white;
    height: 90px;
    width: 1200px;
    float: left;
}

.lookbook {
    background-color: white;
    height: 50px;
    width: 1160px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.photos1 {
    background-color: white;
    height: 380px;
    width: 275px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
}

.description1 {
    background-color: white;
    height: 50px;
    width: 275px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.photos2 {
    background-color: white;
    height: 380px;
    width: 275px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.description2 {
    background-color: white;
    height: 50px;
    width: 275px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.content2line {
    background-color: black;
    height: 3px;
    width: 1180px;
    float: left;
    margin-left: 250px;
}

.lookbook {
    background-color: white;
    width: 1160px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center
}

.whoarewe {
    width: 600px;
    text-align: left;
    float: left;
    margin-top: 20px;
    
}