div {
    outline: 3px solid black;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header1 {
    background-color: blue;
    height: 210px;
    width: 1200px;
    float: left;
}

.leftmenu {
    background-color: yellow;
    height: 50px;
    width: 484px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.links {
    margin-top: 10px;
    font-size: 1.2rem;
    float: left;
    color: black;
}

.links a {
    color: black;
    text-decoration: none;
    margin-left: 0px;
    margin-right: 10px;
}

.links a: hover {
    color: #f06c64;
}

.links1 {
    margin-top: 10px;
    margin-right: 0px;
    font-size: 1.2rem;
    float: right;
    color: black;
}

.links1 a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.links1 a: hover {
    color: #f06c64;
}


.chaos {
    background-color: yellow;
    height: 50px;
    width: 152px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2.8rem;
}

.rightmenu {
    background-color: yellow;
    height: 50px;
    width: 484px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.catchphrase {
    background-color: yellow;
    height: 100px;
    width: 1160px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.header2 {
    background-color: red;
    height: 90px;
    width: 1200px;
    float: left;   
}
    
.content {
    background-color: lime;
    height: 1050px;
    width: 1200px;
    float: left;
}

.header3 {
    background-color: red;
    height: 90px;
    width: 1200px;
    float: left;
}

.wintercollection {
    background-color: yellow;
    height: 50px;
    width: 1160px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.photos1 {
    background-color: yellow;
    height: 380px;
    width: 275px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.description1 {
    background-color: yellow;
    height: 50px;
    width: 275px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.photos2 {
    background-color: yellow;
    height: 380px;
    width: 275px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.description2 {
    background-color: yellow;
    height: 50px;
    width: 275px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.content1 {
    background-color: red;
    height: 440px;
    width: 1200px;
    float: left;
}

.yellowrectangle1 {
    background-color: yellow;
    height: 100px;
    width: 875px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.yellowbox1 {
    background-color: yellow;
    height: 278px;
    width: 278px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.content2 {
    background-color: blue;
    height: 775px;
    width: 1200px;
    float: left;
}

.yellowrectangle2 {
    background-color: yellow;
    height: 60px;
    width: 875px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.yellowbox2 {
    background-color: yellow;
    height: 203px;
    width: 203px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.content3 {
    background-color: lime;
    height: 565px;
    width: 1200px;
    float: left;
}

.yellowrectangle3 {
    background-color: yellow;
    height: 100px;
    width: 875px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.yellowbox3 {
    background-color: yellow;
    height: 400px;
    width: 278px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.content4 {
    background-color: red;
    height: 515px;
    width: 1200px;
    float: left;
}

.yellowrectangle4 {
    background-color: yellow;
    height: 100px;
    width: 875px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.yellowbox4big {
    background-color: yellow;
    height: 350px;
    width: 558px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.yellowbox4small {
    background-color: yellow;
    height: 278px;
    width: 297px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.footer {
    background-color: blue;
    height: 100px;
    width: 1200px;
    float: left;
}