@import url('https://fonts.googleapis.com/css?family=Lato');

div {
    outline: 1px solid lime;
}

body {
    background-color: f2f2f2;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #2d303a;
    color: #ffffff;
    height: 90px;
}

.nav {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-top: 35px;
    font-size: 1.4rem;
    float: left;
}

.links {
    margin-top: 40px;
    font-size: 0.75rem;
    float: right;
    color: #4v4e61
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.salmon {
    color: #f06c64
}