@import url('https://fonts.googleapis.com/css?family=Lato');

h1 {
    color: #666d89
}

p {
    color: #666d89
}

div {
    outline: 1px solid lime;
}

body {
    background-color: f2f2f2;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #2D2F3B;
    color: #ffffff;
    height: 90px;
    border-bottom: 6px solid #4B4E61
}

.nav {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-top: 35px;
    font-size: 1.4rem;
    float: left;
}

.links {
    margin-top: 40px;
    font-size: 0.75rem;
    float: right;
    color: #4b4e61
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.links a: hover {
    color: #f06c64;
}

.salmon {
    color: #f06c64;
}

.banner {
    background-color: #f06c64;
    padding: 20px 0px;
    text-align: center;
}

.banner img {
    max-width: 780px;
    width: 90%;
}

@media screen and (max-width: 480px) {
    body {
        background-color: green;
    }
}

.container {
    background-color: #f2f2f2;
    height: 503px;
}

.subcontainer {
    background-color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 950px;
}

.paragraph1 {
    font-size: 1.2rem;
}

.container2 {
    background-color: #f2f2f2;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 950px;
}

.column {
    background-color: #f2f2f2;
    margin-left: 100px;;
    margin-right: auto;
    width: 350px;
    float: left;
}

.portfoliocontainer {
    background-color: #2D303A;
    height: 820px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.subcontainer2 {
    background-color: #2D303A;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}

.links2 {
    margin-top: 40px;
    font-size: 0.75rem;
    float: left;
}

.links2 a {
    color: #666d89;
    text-decoration: underline
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.white {
    color: #ffffff;
}

.content2 {
    background-color: 2D303A;
    height: 500px;
    width: 950px;
   
